EJERCICIO 5/FAQ.dtd

<!ELEMENT FAQ (INFO, PART)>
<!ELEMENT INFO (TITULO, AUTOR, EMAIL, VERSION, FECHA)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT FECHA (#PCDATA)>
<!ELEMENT PART (Q+)>
<!ATTLIST PART number CDATA #REQUIRED>
<!ATTLIST Q id CDATA #REQUIRED>
<!ELEMENT Q (QTEXT, A)>
<!ELEMENT QTEXT (#PCDATA)>
<!ELEMENT A (#PCDATA)>
