EJERCICIO 8/xhtml.dtd

<!ELEMENT html (head, body)>
<!ATTLIST html xmlns CDATA #REQUIRED>
<!ELEMENT head (meta, title)>
<!ELEMENT meta EMPTY>
<!ATTLIST meta http-equiv CDATA #REQUIRED>
<!ATTLIST meta content CDATA #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT body (p*)>
<!ATTLIST body bgcolor CDATA #REQUIRED>
<!ELEMENT p (#PCDATA)>
<!ATTLIST p align CDATA #IMPLIED>
